.playingfield {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 730px;
  height: 75;
  border: 1px solid green;
  background: rgba(247, 242, 242, 0.726);
  padding: 20px;
}
