.App {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  top: 0;
  left: 10px;
  width: 250px;
}

h1 span {
  padding: 10px;
}
