.dies {
  position: absolute;
  z-index: 1;
  top: calc(50% - 15px);
  left: calc(50% - 25px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 55px;
    border-radius: 14px;
    cursor: pointer;

    &.r {
      background: rgba(255, 0, 0, 0.568);
      box-shadow: inset 0 0.3em 1.5em rgba(0, 0, 0, 0.7);
    }
    &.b {
      background: rgba(2, 97, 240, 0.568);
      box-shadow: inset 0 0.3em 1.5em rgba(0, 0, 0, 0.7);
    }
    &.g {
      background: rgba(12, 126, 12, 0.568);
      box-shadow: inset 0 0.3em 1.5em rgba(0, 0, 0, 0.7);
    }
    &.y {
      background: rgb(255, 242, 2);
      box-shadow: inset 0em 0.3em 1.5em rgba(0, 0, 0, 0.7);
    }

    &.animation {
      animation: throw 1.5s;
      border: 1px dashed rgba(255, 0, 0, 0.568);
    }

    @keyframes throw {
      0% {
        transform: scale(1) rotate(20deg) translate(0px, 0px);
      }
      20% {
        transform: scale(0.2) rotate(40deg) translate(-60px, -60px);
      }
      30% {
        transform: scale(0.2) rotate(80deg) translate(100px, 100px);
      }
      40% {
        transform: scale(0.2) rotate(160deg) translate(-100px, -100px);
      }
      50% {
        transform: scale(0.2) rotate(180deg) translate(100px, -100px);
      }
      60% {
        transform: scale(0.2) rotate(220deg) translate(-100px, -100px);
      }
      70% {
        transform: scale(0.2) rotate(280deg) translate(0px, 0px);
      }
      80% {
        transform: scale(0.8) rotate(300deg);
      }
      100% {
        transform: scale(1) rotate(360deg);
      }
    }

    img {
      height: 60px;
      border-radius: 18px;
      border: 1px solid rgba(0, 0, 0, 0.39);
      object-fit: contain;
    }
  }

  &.animation {
    border: 1px dashed rgba(255, 0, 0, 0.568);
    border-radius: 20%;
  }
}
